<h1>Students</h1>
<!-- Form for creating a new student -->
<form action="/students/create" method="post" class="row mb-4">
    <div class="col-4 col-lg-2">
        <label for="student-name-field" class="form-label">Name</label>
        <input type="text" name="name" id="student-name-field" class="form-control" placeholder="Name" required>
    </div>
    <div class="col-4 col-lg-2">
        <label for="student-college-field" class="form-label">College</label>
        <input type="text" name="college" id="student-college-field" class="form-control" placeholder="College"
            required>
    </div>
    <div class="col-4 col-lg-2">
        <label for="student-batch-field" class="form-label">Batch</label>
        <input type="month" name="batch" id="student-batch-field" class="form-control" min="2020-01" required>
    </div>
    <div class="col-4 col-lg-1">
        <label for="student-dsa-field" class="form-label">DSA</label>
        <input type="number" min="0" max="100" name="dsa" id="student-dsa-field" class="form-control" placeholder="100"
            required>
    </div>
    <div class="col-4 col-lg-1">
        <label for="student-webd-field" class="form-label">WebD</label>
        <input type="number" min="0" max="100" name="webd" id="student-webd-field" class="form-control"
            placeholder="100" required>
    </div>
    <div class="col-4 col-lg-1">
        <label for="student-react-field" class="form-label">React</label>
        <input type="number" min="0" max="100" name="react" id="student-react-field" class="form-control"
            placeholder="100" required>
    </div>
    <div class="mt-2 mt-lg-0 col align-self-end"><button type="submit" class="btn btn-primary">Create</button></div>
</form>
<!-- List of students -->
<div class="row row-cols-1 row-cols-md-3">
    <% for (student of locals.students) { %>
    <div class="col col-md-3 mb-4">
        <div class="card">
            <div class="card-body text-center">
                <h5><%= student.name %></h5>
                <div><%= student.batchString %></div>
                <div><%= student.college %></div>
                <div>DSA Score: <%= student.scores.dsa %></div>
                <div>React Score: <%= student.scores.react %></div>
                <div>WebD Score: <%= student.scores.webd %></div>
                <div>Set status:
                    <select data-student-id="<%= student.id %>">
                        <option <%= (student.status === "Not placed") ? "selected" : "" %>>Not placed</option>
                        <option <%= (student.status === "Placed") ? "selected" : "" %>>Placed</option>
                    </select>
                </div>
            </div>
            <div class="card-footer">
                <a href="/students/<%= student.id %>/delete" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    <% } %>
</div>

<script src="/js/students.js"></script>